{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Новость:
{% endblock title %}

{% block content %}
    <div style="background-color: #f8f9fa; padding: 10px;">
        <a href="http://127.0.0.1:8000/" style="text-decoration: none; color: #007bff;">Вернуться в профиль</a>
        <a href="{% url 'post_create' %}" style="text-decoration: none; color: #28a745; margin-left: 10px;">Создать пост</a>
    </div>

    <h1>Все Новости</h1>

    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>

    <h3>Общее количество новостей: {{ total_news_count }}</h3>
    <h3>Количество новостей на данной странице: {{ posts|length }}</h3>
    <h3>{% current_time '%d %b %Y' %}</h3>
    <h3>{{ info|default_if_none:"Инфосвежатина только у нас!" }}</h3>
    <hr>

    {% if posts %}
       <table>
        <tr>
            <td>№</td>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Текст</td>
            <td>Категория</td>
        </tr>
        {% for post in posts %}
            <tr>
                <td><a href="{{ post.get_absolute_url }}">{{ forloop.counter }}</a></td>
                <td><a href="{{ post.get_absolute_url }}">{{ post.title|censor }}</a></td>
                <td>{{ post.some_datetime|date:"d, F, Y" }}</td>
                <td>{{ post.text|censor|truncatechars:20 }}</td>
                <td>
                    {% for category in post.category.all %}
                        {{ category.name_category }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <h2>Новостей на данный момент нет!</h2>
    {% endif %}

    {# Пагинация #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}